.poster{
    width: 100%;
}
.posterImage {
    height: 600px;
    width: 100%;
}

.posterImage>img {
    margin-right:20px ;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 1;
    transition: opacity .3s;
}

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}
@media (max-width: 768px) {
    .posterImage {
        height: 350px;
        /* Adjust height as needed for mobile */
    }

    .posterImage__overlay {
        padding: 1rem;
        /* Further reduce padding for smaller screens */
        height: 80%;
        /* Adjust height as needed for mobile */
    }

    .posterImage__title {
        font-weight: 600;
        font-size: 15px;
        text-align: center;

    }

    .posterImage__runtime {
        font-size: 8px;
        margin-bottom: 1rem;
    }

    .posterImage__rating {
        margin-left: 9px;
    }

    .posterImage__description {
        font-size: 10px;
        font-style: italic;
        width: 80%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }

}